@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.header-container {
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  color: #ffef61;
  font-family: "Lobster", cursive;
}

.header-card {
  padding: 2rem;
  background: #151414;
  border-radius: 10px;
  height: 720px;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  text-align: center;
}

.header-card h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #ffef61;
}

.header-card p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #ced4da;
}

.header-card button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #354f52;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-card button:hover {
  background-color: #31646c;
}

.header-img {
  width: 80%;
}

/* From Uiverse.io by gharsh11032000 */
.form-container {
  width: 90%;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #12360cfb, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group span {
  display: block;
  margin-bottom: 5px;
  color: #26a39d;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #3a8c95;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #3a8c95;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #354f52;
  border-color: #5b7578;
  transition: ease-in all 240ms;
}

.header-left-side {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.offers-container {
  height: 350px;
  width: 90%;
  max-width: 600px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #ff6f61, #ffcc00) border-box;
  border: 2px solid transparent;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.offers-title {
  font-size: 28px;
  font-weight: 00;
}

.offers-description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
  margin: 0;
  color: #e0e0e0;
}

.offers-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #354f52;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.offers-button:hover {
  background-color: #31646c;
}
